
@{
    ViewBag.Title = "提交成功";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>成功</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">主页</a>
            </li>
            <li class="active">
                <strong>提交成功</strong>
            </li>
        </ol>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h2 class="font-bold">成功</h2>

                <div class="error-desc">
                    已经提交成功，点击下面按钮返回主页
                    <br /><a href="#" class="btn btn-primary m-t">主页</a>
                </div>


            </div>
        </div>
    </div>
</div>