
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/Text1/Index">
    <input type="text" name="test"/>
    <input type="text" name="test"/>
    <input type="text" name="test" />
    <input type="text" name="test" />
    <input type="text" name="test" />
    <button type="submit">测试</button>
</form>


